<article class="post">
  <header>
    <h1>McFly Family Value</h1>
    <p>
      <a href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Eveniet earum odio sit, dicta ut illo autem atque, optio quod, enim eligendi! Eius natus, sunt excepturi quas recusandae expedita perspiciatis modi.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum hic, porro culpa, doloribus accusantium dicta error, sunt quod pariatur molestias itaque et veniam laudantium quibusdam cum a beatae eum suscipit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quas temporibus numquam nulla beatae molestias, ad natus cupiditate incidunt libero facere rerum quis fuga at praesentium, aperiam quaerat explicabo, aliquid?
    </p>
  </header>
</article>
